body {
    background-color:#2c3e50;
    font-family: 'Montserrat', sans-serif;
    color:#ffffff;
}

#title {
    text-align:center;
    display:block;
    padding:10px;
    margin:30px;
}

input {
    text-align:center;
    border-radius:25px;
    border-style:none;
    padding:10px;
    margin:30px;
    max-width:90px;
}

button {
    text-align:center;
    border-radius:25px;
    border-style:none;
    padding:20px;
    margin:5px;
    color:#ffffff;
    background-color:#8e44ad;
    transition:0.3s;
}

button:hover, button:active {
    background-color:#843aa3;
    transition:0.3s;
}

table {
    text-align:center;
    display:block;
}

th {
    display:inline-block;
    text-align:center;
    margin:5px;
}

tr {
    text-align:center;
    display:block;
    margin:5px;
}

select {
    border-radius:25px;
    border-style:none;
    padding:10px;
    margin:30px;
    text-align:center;
}

.input-container {
    border-radius:25px;
    padding:15px;
    margin:10px;
    text-align:center;
    background-color:#16a085;
    display:inline-block;
}

#layers-container {
    text-align:center;
    display:inline-block;
}

#layers {
    display:block;
    text-align:center;
}

#neural-network-constructor {
    text-align:center;
    display:block;
}

#data {
    text-align:center;
    display:block;
}

.data-field {
    max-width:50px;
    margin:5px;
}

#predict {
    text-align:center;
    display:block;
}

#predict-btn {
    visibility: hidden;
}